* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#password-length {
  background-color: green;
}

h1 {
  text-align: center;
  font-size: 24px;
}
.main-container {
  width: 400px;
  height: auto;
  background-color: aliceblue;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 20px;
}
.container input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

.main-container button {
  height: 50px;
  width: auto;
  padding: 10px;
  background-color: rgb(97, 97, 235);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.main-container button:hover {
  background-color: rgb(97, 97, 235, 0.9);
  font-size: 20px;
}

#password-length {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

#password-length::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #1c0486, #89aff6);
  border-radius: 10px;
}

#password-length::-webkit-slider-thumb {
  height: 15px;
  width: 10px;
  background: white;
}

#password-length::-webkit-slider-thumb:hover {
  scale: 1.5;
  background: #43a047;
}

#password-length-display {
  height: 30px;
  width: 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.range-value {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.range-value span {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

#password-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  color: black;
}
