.cart-page-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 80px 100px;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

.close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  color: black;
  font-size: 24px;
}

.left-container {
  padding-top: 20px;
  /* background-color: red; */
  flex: 2;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  /* width: 100%;
  overflow-y: auto; */
  gap: 20px;
}

.left-container img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}
.right-container {
  /* background-color: blue; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  min-width: 300px;
}

.summary-list {
  display: flex;
  justify-content: space-between;
}

.cart-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  justify-content: space-between;
  /* border: 1px solid black; */
  box-shadow: 2px 3px 10px rgba(198, 197, 197, 0.4);
}
.cart-list_mid {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.cart-list_mid p {
  color: grey;
  font-size: 16px;
}
.cart-list_mid h4 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 0;
}

.cart-list_right span {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.increase-decrease-button-container {
  min-width: 120px;
  padding: 10px 20px;
  border: 0.5px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container button {
  background-color: transparent;
  border: none;
  /* font-size: 20px; */
  color: black;
}
.trash-button svg {
  font-size: 20px;
  color: rgb(123, 1, 1);
}

.button-container button:hover {
  cursor: pointer;
}

.summary-list.total {
  font-weight: bold;
}

@media (max-width: 900px) {
  .cart-page-container {
    flex-direction: column;
    padding: 20px;
  }

  .right-container {
    box-shadow: 2px 3px 15px rgba(172, 172, 172, 0.4);
  }
}
