* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
.main-container {
  height: 100%;
  background-color: rgb(0, 28, 53);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 70vw;
  max-width: 800px;
  min-height: 500px;
  overflow-y: auto;
  padding: 30px 20px;
  background-color: rgb(91, 91, 203, 0.2);
  border-radius: 20px;
  border: 5px solid rgb(255, 253, 253, 0.05);
  box-shadow: 00px 0px 100px rgba(114, 238, 143, 0.5);
  position: relative;
}

h1 {
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.add-task-container {
  display: flex;
  flex-direction: row;
}

#task-textfield {
  width: 100%;
  height: 60px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
  padding: 5px 10px;
}

#date-field {
  background-color: rgb(46, 2, 151);
  padding: 10px;
  /* width: 100px; */
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
}
.button-container {
  display: flex;
  justify-content: space-around;
}
#clear-button {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

#clear-button:hover {
  background-color: rgb(226, 32, 32, 0.8);
  cursor: pointer;
}
#add-button {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255, 0.5);
  border: 1px solid white;
  color: white;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

#add-button:hover {
  background-color: rgb(22, 191, 22, 0.5);
  cursor: pointer;
}

.task-list-container {
  max-height: 500px;
  overflow-y: auto;
}

#task-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.task-item.add-animation {
  animation: addFade 0.4s ease-in forwards;
}
@keyframes addFade {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

.task-item.remove-animation {
  animation: removeFade 0.4s ease-out forwards;
}
@keyframes removeFade {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

#task-list li input {
  accent-color: rgb(107, 234, 107);
}
#task-list li button {
  height: 40px;
  width: 70px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  flex-shrink: 0;
}
#task-list li .edit-button {
  background-color: rgba(13, 175, 37, 0.7);
  border: 1px solid green;
}
#task-list li .delete-button {
  background-color: rgba(174, 52, 52, 0.7);
  border: 1px solid red;
}
#task-list li button:hover {
  opacity: 0.8;
  font-size: 30px;
}

#task-list li input {
  height: 20px;
  width: 20px;
}
#task-list li p {
  flex: 1;
  background-color: rgb(229, 245, 180);
  padding: 8px 10px;
  color: black;
  border-radius: 15px;
  border: 1px solid black;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  overflow: auto;
}

#task-list li p:hover {
  opacity: 0.9;
}

#task-list li p span {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-weight: bold;
  background-color: rgb(151, 203, 148);
  color: #cd0202;
}

.checked {
  text-decoration: line-through;
}

/* .task-list-container ul li input,
p,
button {
  display: inline;
  background-color: red;
} */
