.top-brand-container {
  height: 200px;
  width: 80vw;
  min-width: 250px;
  background-color: rgb(9, 9, 9, 0.5);
  border-radius: 30px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}
